<div>
    Kind : <input type="text" id="kind" ng-model="kind">, Order : <input type="text" id="order" ng-model="order"> <button ng-click="search()" class="btn btn-primary">Search</button>
</div>

<div>
    <table class="table">
        <thead>
        <tr>
            <th>No</th>
            <th>Key</th>
            <th>Property</th>
        </tr>
        </thead>
        <tbody ng-repeat="e in entities">
        <tr>
            <td>{{$index + 1}}</td>
            <td>{{e.KeyValue}}</td>
            <td ng-repeat="l in e.List">{{l.Name}} = {{l.Value}}</td>
        </tr>
        </tbody>
    </table>
</div>